<html>
    <head>
        <title>{{title}}</title>
        <script type="module">import * as library from './static/__target__/library.js'; window.library = library;</script>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <p>
        	In this project you will generate some random number and sort them.
        </p>
        <label for="fname">New cases:</label>
        <input type="text" id="new_cases" name="new_cases"><br><br>
        <label for="lname">New deaths:</label>
        <input type="text" id="new_deaths" name="new_deaths"><br><br>
        <label for="lname">People fully vaccinated:</label>
        <input type="text" id="people_fully_vaccinated" name="people_fully_vaccinated"><br><br>
        <p>
        	<div id="generate">...</div>
        	<button onclick="library.predict()">Generate 10 numbers</button>
        </p>
        <p>
        	<div id="sorted">...</div>
        	<button onclick="library.sortnumber1()">Sort</button>
        </p>
        <br><a href="index">Home</a>

    </body>
</html>
